@using System.Threading.Tasks
@using GenericMvcUtilities.ViewModels.UserManager
@model IUserView

<div class="row">
	<section class="col-md-12 well">
		<h2 class="text-primary">User Details - @Model.UserName</h2>
		<p class="text-danger">@ViewData["StatusMessage"]</p>
		<hr class="shadow-z-1 primarycolor" />

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User Information</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label asp-for="Id" class="col-md-2 form"></label>
					<div class="col-md-10">
						<p class="">@Model.Id</p>
						<p class="help-block">User's Unique Identifier, of Type: @Model.Id.GetType().Name</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="FirstName" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.FirstName</p>
						<p class="help-block">User's given name or other pseudonym</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="LastName" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.LastName</p>
						<p class="help-block">User's family name or other pseudonym</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="UserName" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.UserName</p>
						<p class="help-block">User's Name that is used by the system, default is user's email</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Contact Information</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="">
						<label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
						<div class="col-md-4 col-sm-4">
							<p class="text-left">@Model.Email</p>
						</div>
					</div>
					<div class="">
						<label asp-for="EmailConfirmed" class="col-md-1 col-sm-2 control-label"></label>
						<div class="col-md-2 col-sm-2">
							@if (Model.EmailConfirmed)
							{
								<p class="text-success text-left">Yes</p>
							}
							else
							{
								<p class="text-danger text-left">No</p>
							}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="">
						<label asp-for="PhoneNumber" class="col-md-3 col-sm-3 control-label"></label>
						<div class="col-md-4 col-sm-4">
							@if (Model.PhoneNumber != null)
							{
								<p class="text-left">@Model.PhoneNumber</p>
							}
							else
							{
								<p class="text-info text-left">No Phone Number Given</p>
							}
						</div>
					</div>
					<div class="">
						<label asp-for="PhoneNumberConfirmed" class="col-md-1 col-sm-2 control-label"></label>
						<div class="col-md-2 col-sm-2">
							@if (Model.PhoneNumberConfirmed)
							{
								<p class="text-success text-left">Yes</p>
							}
							else
							{
								<p class="text-danger text-left">No</p>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Account Information</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<label asp-for="AccessFailedCount" class="col-md-3 control-label"></label>
					<div class="col-md-1 pull-left">
						<p class="text-left">@Model.AccessFailedCount</p>
					</div>
				</div>
				<div class="row">
					<label asp-for="LockoutEnabled" class="col-md-3 control-label"></label>
					<div class="col-md-1 pull-left">
						@if (Model.LockoutEnabled)
						{
							<p class="text-success text-left">Yes</p>
						}
						else
						{
							<p class="text-danger text-left">No</p>
						}
					</div>
				</div>
				<div class="row">
					<!-- todo change this to a date -->
					<label asp-for="LockoutEnd" class="col-md-2 control-label"></label>
					<div class="col-md-2">
						<p class="text">@Model.LockoutEnd.DateTime</p>
					</div>
					<label class="col-md-2 control-label">Time Offset: </label>
					<div class="col-md-2">
						<p class="text-info">@Model.LockoutEnd.Offset</p>
					</div>
				</div>
				<div class="form-group">
					<!-- todo change this to a checkbox-->
					<label asp-for="TwoFactorEnabled" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="text">@Model.TwoFactorEnabled</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Actions -->
<div class="row">
	<section class="well">
		<h4 class="text-primary">Actions - Be Careful!</h4>
		<hr class="shadow-z-1 primarycolor" />
		<ul class="list-inline">
			<li>
				<button class="btn btn-info btn-raised" type="button" data-toggle="modal" data-target="#ResetPasswordModal">Reset Password</button>
			</li>
			<li>
				<button class="btn btn-warning btn-raised" type="button" data-toggle="modal" data-target="#LockModal">Lock User</button>
			</li>
			<li>
				<button class="btn btn-danger btn-raised" type="button" data-toggle="modal" data-target="#RemoveUserModal">Remove User</button>
			</li>
			<li>
				<button class="btn btn-danger btn-raised" type="button" data-toggle="modal" data-target="#TestModal">TEst User</button>
			</li>
		</ul>
	</section>
</div>

<!-- Lock Modal -->
@await Html.PartialAsync("~/Views/UserManager/LockModal.cshtml", new LockViewModel())

<!-- Modal -->
<div class="modal fade" id="TestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content panel-warning">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Remove User</h4>
			</div>
			<div class="modal-body">
				<h3 class="text-center text-danger">Are you sure you want to Remove this User?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-raised btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-raised btn-danger">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts {

	<script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker();
		});
	</script>
}