@using GenericMvc.ViewModels.Basic;
@model GenericMvc.ViewModels.Basic.DeleteViewModel

@{
	ViewData["Title"] = Model.ControllerName +" "+ Model.Action;
}

<section class="well">
	<header class="row">
		<div class="col-md-6">
			<div class="pull-left">
				<h2 class="text-primary">@Model.Title</h2>
				<h4>@Model.Description</h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				@if (Model.DisplayAction)
				{
					<h2 class="text-danger"><i class="material-icons">delete</i> @Model.Action</h2>
				}
			</div>
		</div>
	</header>
	<hr class="shadow-z-1 primarycolor" />
	@await Model.Message.RenderAsync(Html)
	<div class="row">
		<div class="col-md-3">
			<div class="pull-left">
			</div>
		</div>
		<div class="col-md-9">
			<div class="pull-right">
			</div>
		</div>
	</div>
	@await Html.PartialAsync(Model.NestedViewPath, Model.Data)
	<form asp-action="DeleteConfirmed" asp-route-Id="@Model.Id">
		<div class="form-actions no-color">
			<button type="submit" class="btn btn-danger"><i class="material-icons">delete_forever</i> Delete</button> |
			<a class="btn btn-default" asp-action="Index"><i class="material-icons">list</i> Back to List</a>
		</div>
	</form>
	<hr class="shadow-z-1 primarycolor" />
	<footer class="row">
		<div class="col-md-6">
			<div class="pull-left">
				<h5 class="text-primary">@Model.Title</h5>
			</div>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				@if (Model.DisplayAction)
				{
					<h5 class="text-capitalize text-danger"><i class="material-icons">delete</i> @Model.Action</h5>
				}
			</div>
		</div>
	</footer>
</section>