@using GenericMvc.ViewModels.Basic
@model  GenericMvc.ViewModels.Basic.IndexViewModel

@{
	ViewData["Title"] = Model.ControllerName + " " + Model.Action;

	Layout = GenericMvc.BasicMvc.Layout ?? Layout;
}

<section class="well">
	<header class="row">
		<div class="col-md-6">
			<div class="pull-left">
				<h2 class="text-primary">@Model.Title</h2>
				<h4>@Model.Description</h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				@if (Model.DisplayAction)
				{
					<h2 class="text-primary"><i class="material-icons">list</i> @Model.Action</h2>
				}
				<h4>@Model.DisplayingCount of @Model.TotalCount Results</h4>
			</div>
		</div>
	</header>
	<hr class="shadow-z-1 primarycolor" />
	@await Model.Message.RenderAsync(Html)
	<div class="row">
		<div class="col-md-3">
			<div class="pull-left">
				@if (Model.ShowCreateButton)
				{
					<a class="btn btn-success" asp-action="Create"><i class="material-icons">create</i> Create New</a>
				}
			</div>
		</div>
		<div class="col-md-9">
			<div class="pull-right">
				@if (Model.ShowSearchForm)
				{
					@await Html.PartialAsync("~/Views/Shared/BasicMvc/SearchForm.cshtml", Model.SearchViewModel)
				}
			</div>
		</div>
	</div>
	@await Html.PartialAsync(Model.NestedViewPath, Model.Data)
	<hr class="shadow-z-1 primarycolor" />
	<footer class="row">
		<div class="col-md-6">
			<div class="pull-left">
				<h5 class="text-primary">@Model.Title</h5>
			</div>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				@if (Model.DisplayAction)
				{
					<h5><i class="material-icons">list</i> @Model.Action</h5>
				}
			</div>
		</div>
	</footer>
</section>