@model GenericMvcUtilities.ViewModels.Generic.DeleteViewModel

@{
	var typeName = Model.Data.GetType().Name;
	ViewData["Title"] = Model.Action + " " + typeName;
}

<section class="well">
	<header>
		<ul class="list-inline">
			<li><h2 class="text-primary">@Model.Title</h2></li>
			@if (Model.DisplayAction)
			{
				<li class="pull-right"><h2 class="text-danger"><i class="material-icons">delete</i> @Model.Action</h2></li>
			}
		</ul>
		<ul class="list-inline">
			<li><h4>@Model.Description</h4></li>
		</ul>
		<hr class="shadow-z-1 primarycolor" />
	</header>
	<div>
		@await Html.PartialAsync(Model.NestedViewPath, Model.Data)
		<form asp-action="DeleteConfirmed" asp-route-Id="@Model.Id">
			<div class="form-actions no-color">
				<button type="submit" class="btn btn-danger"><i class="material-icons">delete_forever</i> Delete</button> |
				<a class="btn btn-default" asp-action="Index"><i class="material-icons">list</i> Back to List</a>
			</div>
		</form>
	</div>
	<footer>
		<hr class="shadow-z-1 primarycolor" />
		<ul class="list-inline">
			<li><h5 class="text-primary">@Model.Title</h5></li>
			@if (Model.DisplayAction)
			{
				<li class="pull-right"><h5 class="text-capitalize text-danger"><i class="material-icons">delete</i> @Model.Action</h5></li>
			}
		</ul>
	</footer>
</section>