@using System.Threading.Tasks
@using GenericMvc.ViewModels.UserManager
@model IPendingUserView

<!--User Info-->
<div class="row">
	<section class="well col-md-12">
		<h2 class="text-primary">Pending User Details - @Model.Email</h2>
		<p class="text-danger">@ViewData["StatusMessage"]</p>
		<hr class="shadow-z-1 primarycolor" />
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Pending User Information</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label asp-for="Id" class="col-md-2 form"></label>
					<div class="col-md-10">
						<p class="">@Model.Id</p>
						<p class="help-block">User's Unique Identifier, of Type: @Model.Id.GetType().Name</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="FirstName" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.FirstName</p>
						<p class="help-block">User's given name or other pseudonym</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="LastName" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.LastName</p>
						<p class="help-block">User's family name or other pseudonym</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="DateRegistered" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<p class="">@Model.DateRegistered</p>
						<p class="help-block">Date the user requested access to the system</p>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="RequestedRole" class="col-md-2 control-label"></label>
					<div class="col-md-4">
						<p class="">@Model.RequestedRole</p>
						<p class="help-block">This is the role the user requested</p>
					</div>
					<div class="col-md-6">
						<!--todo: render change role form here-->
						@await Html.PartialAsync("~/Views/UserManager/ChangeRoleForm.cshtml", new RoleChangeViewModel(Model.Id), ViewData)
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Contact Information</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="">
						<label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
						<div class="col-md-4 col-sm-4">
							<p class="text-left">@Model.Email</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="">
						<label asp-for="PhoneNumber" class="col-md-3 col-sm-3 control-label"></label>
						<div class="col-md-4 col-sm-4">
							@if (Model.PhoneNumber != null)
							{
								<p class="text-left">@Model.PhoneNumber</p>
							}
							else
							{
								<p class="text-info text-left">No Phone Number Given</p>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Actions -->
<div class="row">
	<section class="well">
		<h4 class="text-primary">Actions</h4>
		<hr class="shadow-z-1 primarycolor" />
		<ul class="list-inline">
			<li>
				<button class="btn btn-info btn-raised"
						type="button" data-toggle="modal" data-target="#ApproveModal">
					Approve User
				</button>
			</li>
			<li>
				<button class="btn btn-warning btn-raised"
						type="button" data-toggle="modal" data-target="#DenyModal">
					Deny User
				</button>
			</li>
		</ul>
	</section>
</div>
<!-- Confirm Approve Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ApproveModalLabel" id="ApproveModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="ModalLabel">Approve User</h4>
			</div>
			<hr class="shadow-z-1" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<form asp-controller="UserManager" asp-action="ApproveUser" method="post" class="form-horizontal" role="form">
				<div class="modal-body">
					<input hidden asp-for="Id" />
					<h5 class="text-danger">You are about to add this user to the Application! Do you want to continue?</h5>
				</div>
				<hr class="danger shadow-z-1" />
				<div class="modal-footer">
					<button type="button" class="btn btn-raised" data-dismiss="modal">No</button>
					<button type="submit" class="btn btn-raised btn-danger">Yes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Confirm Deny Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DenyModalLabel" id="DenyModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="ModalLabel">Deny User</h4>
			</div>
			<hr class="shadow-z-1" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<form asp-controller="UserManager" asp-action="DenyUser" method="post" class="form-horizontal" role="form">
				<div class="modal-body">
					<input hidden asp-for="Id" />
					<h5 class="text-danger">You are about to delete this user request! Do you want to continue?</h5>
				</div>
				<hr class="danger shadow-z-1" />
				<div class="modal-footer">
					<button type="button" class="btn btn-raised" data-dismiss="modal">No</button>
					<button type="submit" class="btn btn-raised btn-danger">Yes</button>
				</div>
			</form>
		</div>
	</div>
</div>